/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif; 
    background-color: #f8f9fa;
    color: #212529; 
    padding: 20px;
}

/* Header and Navigation */
header {
    background-color: #343a40; 
    padding: 15px 0;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107; 
}

/* Main content */
main {
    text-align: center;
    margin-top: 50px;
}

main h1 {
    font-size: 2.5rem;
    color: #343a40; 
    margin-bottom: 15px;
}

main p {
    font-size: 1.2rem;
    color: #495057; 
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40; 
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-white {
    color: #ffffff !important; 
}
